{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Portal Login</title>
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <div class="logo">
        <!-- Replace with your logo -->
        <div class="left">Job Finder</div>
        <p>Your Path to Success</p>
      </div>
      <form class="login-form" method="post" action="">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username" class="input-field" required>
        <input type="password" placeholder="Password" name="password" class="input-field" required>
        {% if msg %}
        <p style="color: red;">{{msg}}</p>
        {% endif %}
        <button type="submit" class="login-button">Login</button>
      </form>
      <div class="footer-links">
        <a href="{% url 'register-user' %}">Sign Up to Apply</a>
        <a href="{% url 'register-hr' %}">Sign Up as Hr</a>
      </div>
    </div>
  </div>
</body>
</html>
