body {
    margin: 0;
    /* font-family: Arial, sans-serif;
    background-color: #f4f4f4; */
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .register-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .register-card {
    /* background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    background-color: rgb(18, 18, 62);
    border: 1.5px solid #cce7d0;
    border-radius: 25px;
  }
  
  .logo img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .logo p {
    color: #555555;
    font-size: 14px;
  }
  
  .register-form {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .footer-links {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .footer-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  .left{
      font-size: 2.5rem;
  }
  