{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/explorejobs.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="left">Job Finder</div>
            <div class="right">
                <ul>
                    <li><a href="{% url 'candihome' %}">Home</a></li>
                    <li><a href="/">Find Jobs</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/">Contact</a></li>
                    <li><a href="{% url 'dash' %}"><button class="btn-login">Dashboard</button></a></li>
                    <li> <a href="{% url 'logout' %}"><button class="btn-login">Logout</button></a></li>
                    <!-- <li><a href="admin/"><button class="btn-login">Admin</button></a></li> -->
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- <section class="firstsection">
            <div class="leftsection">Find your dream Job
                <br>
            <span id="element">With Us!</span>
            </div>
            <div class="rightsection"><img src="{% static 'img/expjob.jpg' %}"></div>
        </section> -->
        <section id="hero" style="background-image: url('{% static "img/banner2.png"%}')";>
            <div class="leftsection" ><span id="element1">Get your Dream Job</span>
                <br>
            <span id="element">With Us!</span>
        </section>
        <div class="container">
        <section id="product1" class="section-p1">
            <h2 class="purple1">Available Jobs</h2>
            <div class="job-listings">
                {% for job in jobpost %}
                <div class="job-card">
                    <!-- <div class="active-tag">Active</div> -->
                    <div class="job-header">
                        <br>
                        <h3><u>{{job.title}}</u></h3>
                        <span class="job-location">{{job.address}}</span>
                    </div>
                    <div class="job-details">
                        <p>Company: {{job.compnayName}}</p>
                        <p>Salary: Rs.{{job.salaryLow}} - Rs.{{job.salaryHigh}}</p>
                        <p>Last Date: {{job.lastDateToApply}}</p>
                    </div>
                    <a class="apply-button" href="{% url 'applyjob' job.id %}" style="text-decoration: none;
                      color:inherit;">Apply Now</a>
                </div>
                {% endfor %}
                <!-- Add more job cards here -->
            </div>
        </section>
        </div>
        <section id="product2" class="section-p2">
            <h2>Apply Process</h2>
            <p>How it works</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="{% static 'img/img4.jpg' %}" alt="">
                    <div class="des">
                    <span>1.Register</span>
                    </div>
                </div>
                <div class="pro">
                    <img src="{% static 'img/img5.jpg' %}" alt="">
                    <div class="des">
                    <span>2.Apply For Job</span>
                    </div>
                </div>
                <div class="pro">
                    <img src="{% static 'img/img6.jpg' %}" alt="">
                    <div class="des">
                    <span>3.Get A Job</span>
                    </div>
                </div>
            </div>
        </section>
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get upadates about our shop and <span>special offers</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>
    </main>
    <footer class="section-p1">
        <div class="footer-flex">
            <div class="col">
                <h4>contact</h4>
                <p><strong>Address: </strong>155/A Kolkata,India</p>
                <p><strong>Phone: </strong>7980583228/8272932248</p>
                <p><strong>Hours: </strong>10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-pinterest"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="#">About us</a>
                <a href="#">Job Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & conditions</a>
                <a href="#">Contact us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Application</a>
                <a href="#">My Progress</a>
                <a href="#">Application Status</a>
                <a href="#">Help</a>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store Or Google Pay</p>
                <div class="row">
                    <img src="{% static 'img/a1.jpg' %}" alt="">
                    <img src="{% static 'img/a3.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>copyright &copy; JobFinder.com</p>
        </div>
    </footer>
</body>

</html>