body {
  margin: 0;
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: 'poppins', sans-serif;
  display: flex;
  min-height: 100vh;
}

.logout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgb(142, 142, 229);
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #34495e;
  color: white;
  width: 220px;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar i {
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 4rem;
  width: 50rem;

}

.apply-form {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
}

.apply-form h2 {
  margin-bottom: 20px;
}

.apply-form form {
  display: grid;
  grid-gap: 20px;
  padding: 7px;
}

.apply-form label {
  font-weight: bold;

}

.apply-form input,
.apply-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.apply-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(142, 142, 229);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.apply-form button:hover {
  background-color: rgb(91, 91, 204);
}